* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    height: 100%;
    width: 100%;
    font-family: Lato, Verdana, Tahoma, Geneva, sans-serif;
}

.bigPanel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 550px;
    touch-action: none;
}

.left-Panel {
    position: relative;
    height: 100%;
    margin-right: 300px;
    touch-action: none;
    transition: all 0.5s;
    background: #ededed;
    background: -moz-linear-gradient(top, #ededed 0%, #cecece 100%);
    background: -webkit-linear-gradient(top, #ededed 0%, #cecece 100%);
    background: linear-gradient(to bottom, #ededed 0%, #cecece 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#cecece', GradientType=0);
}

.lf-image {
    position: absolute;
    cursor: move;
    touch-action: none;
}

.lf-image img {
    z-index: 1;
    position: relative;
}

.right-Panel {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    padding: 15px;
    transition: right 0.5s;
    background: #21282f;
    background: -moz-linear-gradient(top, #21282f 0%, #010202 100%);
    background: -webkit-linear-gradient(top, #21282f 0%, #010202 100%);
    background: linear-gradient(to bottom, #21282f 0%, #010202 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21282f', endColorstr='#010202', GradientType=0);
}

.rp-label {
    color: #979BA3;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    margin-top: 4px;
    font-size: 17px;
}

.selectdiv {
    position: relative;
}

.rp-powerList {
    height: 34px;
    width: 100%;
    background-color: transparent;
    color: #fff;
    margin-bottom: 20px;
    border: 1px solid #464D51;
    font-size: 16px;
    border-radius: 0;
    -webkit-appearance: none;
    padding: 0 10px;
}

.rp-powerList option {
    color: black;
}

.rp-powerList-svg {
    fill: #464D51;
    position: absolute;
    right: 8px;
    top: 4px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    line-height: 24px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 22px;
    width: 22px;
    border: 1px solid #3A4146;
    border-radius: 50%;
}

.container input:checked ~ .checkmark {
    background-color: #449FDA;
    border: 1px solid #449FDA;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 7px;
    left: 7px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

.hrLine {
    margin-top: 20px;
    margin-bottom: 18px;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}

.rp-btns {
    text-align: right;
    padding-right: 55px;
}

.btn {
    width: 69px;
    padding: 8px 10px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: transparent;
    color: #449FDA;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.rp-btn-save {
    background: #449FDA;
    color: #fff;
}

#access-point-coverage-area {
    position: absolute;
    border-radius: 1000px;
    transition: all .5s;
    background: #d5d9e1;
    background: -moz-linear-gradient(top, #d5d9e1 0%, #cdd1d9 100%);
    background: -webkit-linear-gradient(top, #d5d9e1 0%, #cdd1d9 100%);
    background: linear-gradient(to bottom, #d5d9e1 0%, #cdd1d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d9e1', endColorstr='#cdd1d9', GradientType=0);
}

.receiver {
    position: absolute;
    border-radius: 100px;
    width: 15px;
    height: 15px;
    background-color: #EA482D;
    transition: all .5s;
}

.green-receiver {
    background-color: #55B381;
}

.burger-menu {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 15px;
    top: 10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #fff;
}

.change .bar2 {
    opacity: 0;
    background-color: #fff;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: #fff;
}

.scale {
    position: absolute;
    bottom: 29px;
    right: 330px;
    border-bottom: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    text-align: center;
    color: #99999C;
    height: 22px;
    transition: right 0.5s;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    .left-Panel {
        margin-right: 0;
    }

    .right-Panel {
        right: -300px;
    }

    .right-Panel-open {
        right: 0;
    }

    .burger-menu {
        display: inline-block;
    }

    .scale {
        right: 20px;
    }
}
